<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= title %></h1>

    <ul>
        <li>이름 : <%= userInfo.name %></li>
        <li>성별 : <%= userInfo.check2 %></li>
        <li>생일 : <%= userInfo.year %> <%= userInfo.month %> <%= userInfo.day %></li>
        <li>취미 : <%= userInfo.cloth %></li>
    </ul>

    <a href="/prac24">메인(홈)으로 돌아가기</a>
</body>
</html>