<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>

    <div id="container">
        <ul>
            <img src="uploads/<%= fileInfo %>">

            <div id="info">
                <li><%= userInfo.id %>님 환영합니다!</li>
                <li>비밀번호: <%= userInfo.pwd %></li>
                <li>이름: <%= userInfo.name %></li>
                <li>나이: <%= userInfo.age %></li>
            </div>
        </ul>
    </div>
</body>
</html>